.DraftBoard {
  border: 2px solid green;
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.DraftBoard-Left, .DraftBoard-Right {
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.DraftBoard-Left::-webkit-scrollbar, .DraftBoard-Right::-webkit-scrollbar {
  display: none;
}

.DraftBoard-Left {
  border: 2px solid blue;
  width: 25rem;
}

.DraftBoard-Right {
  border: 2px solid red;
  flex: 1;
}
